# virtual environment directories
venv

# environment variable files
.env

# .vscode settings
.vscode/

# Python cache files
__pycache__/

# Script Temp files
/backend/scripts

# Raw data files
/data

# Gradio virtual environment
/gradio-env

# Project description
backend/PROJECT_DESCRIPTION.md

# Streamlit files
/.streamlit/

/docs

ui/README.md